{% for reserva_articulo in ultimos_articulos_reservados %}
{% if forloop.first %}
<li class=" nav-item active row">
  <div class="input-group-prepend col-1 px-2">
    <input type="checkbox" name="articulo{{forloop.counter0}}">
  </div>
  <a class="nav-link active col" data-toggle="tab" href="#menuReservasArticulos{{forloop.counter}}">
    <div class="d-flex justify-content-between">
      <div>
        {{reserva_articulo.articulo.nombre}}
      </div>
      <div>
        {% if reserva_articulo.get_estado_display == "Pendiente" %}
        <span class="badge badge-pill badge-warning">Pendiente</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Aceptado" %}
        <span class="badge badge-pill badge-success">Aceptado</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Rechazado" %}
        <span class="badge badge-pill badge-dark">Rechazado</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Devuelto" %}
        <span class="badge badge-pill badge-secondary">Devuelto</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "No devuelto" %}
        <span class="badge badge-pill badge-danger">No Devuelto</span>
        {% endif %}
      </div>
    </div>
  </a>
</li>
{% else %}
<li class=" nav-item row">
  <div class="input-group-prepend col-1 px-2">
    <input type="checkbox" name="articulo{{forloop.counter0}}">
  </div>
  <a class="nav-link col" data-toggle="tab" href="#menuReservasArticulos{{forloop.counter}}">
    <div class="d-flex justify-content-between">
      <div>
        {{reserva_articulo.articulo.nombre}}
      </div>
      <div>
        {% if reserva_articulo.get_estado_display == "Pendiente" %}
        <span class="badge badge-pill badge-warning">Pendiente</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Aceptado" %}
        <span class="badge badge-pill badge-success">Aceptado</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Rechazado" %}
        <span class="badge badge-pill badge-dark">Rechazado</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "Devuelto" %}
        <span class="badge badge-pill badge-secondary">Devuelto</span>
        {% endif %}
        {% if reserva_articulo.get_estado_display == "No devuelto" %}
        <span class="badge badge-pill badge-danger">No Devuelto</span>
        {% endif %}
      </div>
    </div>
  </a>
</li>
{% endif %}
{% endfor %}
