<!DOCTYPE html>
<html lang="en">
<head>
  <title>Perfil de Usuario - Inventario CEI</title>
  {% include 'imports.html' %}
</head>
<body>
{% include 'navbar.html' %}
{% include 'perfilUser/botonesHacerReserva.html' %}

<div class="container-fluid">
  <ul class="nav nav-pills">
    <li class=" nav-item">
      <a class="nav-link active" data-toggle="pill" href="#menuArticulos">
      Últimos 10 articulos reservados</a></li>
    <li class=" nav-item">
      <a class="nav-link" data-toggle="pill" href="#menuSalas">
      Últimas 10 espacios reservadas</a></li>
  </ul>
  <div class="tab-content">
     <div id="menuArticulos" class="tab-pane container active">
       {% include 'perfilUser/ultimas_reservas_articulos.html' %}
    </div>
     <div id="menuSalas" class="tab-pane  container fade">
       {% include 'perfilUser/ultimas_reservas_espacios.html' %}
    </div>
  </div>
</div>

</body>
</html>


falta hacer eliminables las reservas que se muestran en el listado.
falta darle un orden más similar al del mokup.
