<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    <link rel="stylesheet" href="../articulos/templates/articulos/style.css">
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="jumbotron" style="background:lightgray">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src={% static "images/logocei.png" %} class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6" style="float: right;">
                        <h2>Tía Jocy</h2>
                        <h3>123456</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>