<h3> creación de un nuevo usuario </h3>

<form action ="{% url 'newuser' %}" method="post" />
{% csrf_token %}
correo:<br>
<input type="text" name="usuario" placeholder="{{mensajeemail}}"  /> <br>
contraseña:<br>
<input type="password" name="clave" placeholder="{{mensajeclave}}"><br>
contraseña:<br>
<input type="password" name="clave2" placeholder="{{mensajeclave2}}"><br>
nombre completo:<br>
<input type="text" name="nombre completo" placeholder="{{mensajenombre}}"/><br>
RUT:<br>
<input type="text" name="RUT" placeholder="{{mensajerut}}"/><br>
<input type="submit" value="crear usuario" />
</form>
